.banner {
  background-color: #4b2e83;
  margin-left: -12px;
  padding: 9px 21px;
  color: white;
  margin-bottom: 10px;
  border-radius: 4px;
}
.card {
  margin-top: 0 !important;
}
.banner.main {
  margin-bottom: 0;
}
.banner.main a {
  color: white;
}
body {
  padding: 15px 30px;
}
.backlink {
  margin-top: 15px;
}
img#network {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}
.instr-header {
  margin-top: 10px;
  margin-left: -5px;
  margin-bottom: 15px;
  background-color: #ede5f2;
  border-radius: 4px;
  padding: 10px 15px 5px 15px;
}
.instr-wrapper {
  background-color: #e2e2e2;
  border-radius: 4px;
  padding: 10px 15px;
  margin-left: -12px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.instr-wrapper p {
  margin: 0;
}
.instr-wrapper img {
  height: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 3px;
}
.toc-btn {
  background-color: #b9b9b9; 
  color: black;
  display: flex;
  width: 50%;
  height: 65px;
  align-items: center;
  margin-top: 15px;
}
.toc-btn:hover {
  background-color: #4b2e83; 
  color: white;
  transition: .2s;
}
h3 {
  font-size: 1.3rem;
}
.toc-btn h2 {
  margin-top: 8px !important;
}
.csp-challenges {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.csp-challenges ol {
  margin-top: 10px;
}
.csp-challenges .written-instr {
  padding-right: 35px;
}
.csp-challenges .table-instr {
  align-self: center;
}
table.challenges th {
  padding-right: 20px;
  width: 10px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: bottom;
}
table.challenges th:first-child {
  padding-right: 7px;
  vertical-align: middle;
}
table.challenges td {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 33px;
}
td.no {
  background-color: #e83b20;
}
td.yes {
  background-color: #3da024;
}
td.no, td.yes {
}
.example-img {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 25px;
}
h1 {
  font-size: 2.1rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.5rem;
}
.resource {
  float: right;
  font-size: 15px;
  position: relative;
  bottom: -19px;
}
p.instructions {
  margin-bottom: 2px;
  margin-top: 15px;
}
.sub-instructions {
  font-style: italic;
}
.all-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}
.all-images div {
  margin-right: 10px;
  margin-left: 10px;
}
.item {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 7px;
}
.images img {
  width: 150px;
  display: block;
}
.images p.item {
  margin-bottom: 7px;
}
.images label {
  margin-bottom: 5px;
}
.frame {
  height: 100px;
  width: 100px;
}
.allowed {
  margin-left: 3px;
  background-color: #3da024;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.blocked {
  margin-left: 3px;
  background-color: #e83b20;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.card {
  margin-top: 25px;
  margin-bottom: 20px;
}
.card-header {
  background-color: #efefef;
  font-weight: bold;
  font-size: 18px;
}
.card-body {
  background-color: #f7f6f6;
}
.source {
  margin-top: .2em;
  border: 1px solid black;
  width: fit-content;
  padding-right: 2em;
  font-size: x-small;
  background-color: #444;
  overflow-x: auto;
  color: white;
}
img#local, img#external {
  margin-bottom: 10px;
}
.sublist {
  list-style-type: lower-alpha;
}
ol.extra-space > li:not(:last-of-type) {
  padding-bottom: 10px;
}
p.note {
  margin-top: 10px;
}
code {
  color: #5b5b5b;
  background-color: #e1e0e0;
  padding: 1px 4px;
  padding-right: 1.5em !important;
  border-radius: 4px;
  width: -moz-fit-content;
}
