.banner {
  background-color: #4b2e83;
  margin-left: -12px;
  padding: 7px 21px;
  color: white;
  margin-bottom: 15px;
  border-radius: 4px;
}
.banner.main {
  margin-bottom: 0;
}
body {
  padding: 15px 30px;
}
.backlink {
  margin-top: 15px;
}
img#network {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
}
.instr-wrapper {
  background-color: #e2e2e2;
  border-radius: 4px;
  padding: 10px 15px;
  margin-left: -12px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.instr-wrapper p {
  margin: 0;
}
.instr-wrapper img {
  height: 20px;
  margin-right: 10px;
  position: relative;
  bottom: 3px;
}
.csp-challenges {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.csp-challenges ol {
  margin-top: 10px;
}
.csp-challenges .written-instr {
  padding-right: 35px;
}
.csp-challenges .table-instr {
  align-self: center;
}
table.challenges th {
  padding-right: 20px;
  width: 10px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: bottom;
}
table.challenges th:first-child {
  padding-right: 7px;
  vertical-align: middle;
}
table.challenges td {
  border-right: 3px solid white;
  border-top: 3px solid white;
  height: 33px;
}
td.no {
  background-color: #e83b20;
}
td.yes {
  background-color: #3da024;
}
td.no, td.yes {
}
.example-img {
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 25px;
}
h2 {
  font-size: 1.7rem;
  background-color: #e7d2a5;
  padding: 2px 12px;
  margin-left: -5px;
  border-radius: 3px;
}
h2:not(.first) {
  margin-top: 25px;
}
.resource {
  float: right;
  font-size: 15px;
  position: relative;
  bottom: -11px;
}
p.instructions {
  margin-bottom: 2px;
  margin-top: 15px;
}
.sub-instructions {
  font-style: italic;
}
.all-images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin-bottom: 20px;
}
.all-images div {
  margin-right: 10px;
  margin-left: 10px;
}
.item {
  font-weight: bold;
  display: inline-block;
}
.images img {
  width: 150px;
  display: block;
}
.images p.item {
  margin-bottom: 7px;
}
.images label {
  margin-bottom: 5px;
}
.frame {
  height: 100px;
  width: 100px;
}
.allowed {
  margin-left: 3px;
  background-color: #3da024;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.blocked {
  margin-left: 3px;
  background-color: #e83b20;
  color: white;
  padding: 3px 6px;
  border-radius: 3px;
}
.card {
  margin-top: 25px;
  margin-bottom: 20px;
}
.card-header {
  background-color: #efefef;
  font-weight: bold;
  font-size: 18px;
}
.card-body {
  background-color: #f7f6f6;
}
